.barContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 150px 0px;
  height: 200px;
}

.bar {
  display: inline-block;
  margin: 0 1px;
  transition: height ease-in-out 0.3s, background-color ease-in-out 0.5s;
}

.controlPanel {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 15px;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.controlPanel button {
  padding: 10px;
  margin: 0 10px;
}

.luckyWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.luckyButton {
  color: rgb(255, 0, 0);
}

.luckyStar {
  position: absolute;
  left: 15px;
  top: 40px;
  font-size: 9px;
  color: rgb(255, 0, 0);
}

.SliderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
